<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.geeker.mapper.micro.OpDeviceRegisterMapper">
  <resultMap id="BaseResultMap" type="com.geeker.model.OpDeviceRegister">
    <id column="id" jdbcType="INTEGER" property="id" />
    <id column="register_code" jdbcType="VARCHAR" property="registerCode" />
    <result column="device_id" jdbcType="VARCHAR" property="deviceId" />
    <result column="com_id" jdbcType="INTEGER" property="comId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, register_code, device_id, com_id, create_time
  </sql>
  <select id="selectByPrimaryKey"  resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from op_device_register
    where register_code = #{registerCode,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.geeker.model.OpDeviceRegisterKey">
    delete from op_device_register
    where id = #{id,jdbcType=INTEGER}
      and register_code = #{registerCode,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.geeker.model.OpDeviceRegister">
    insert into op_device_register (register_code, device_id,
      com_id, create_time)
    values (#{registerCode,jdbcType=VARCHAR}, #{deviceId,jdbcType=VARCHAR},
      #{comId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.geeker.model.OpDeviceRegister">
    insert into op_device_register
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="registerCode != null">
        register_code,
      </if>
      <if test="deviceId != null">
        device_id,
      </if>
      <if test="comId != null">
        com_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="registerCode != null">
        #{registerCode,jdbcType=VARCHAR},
      </if>
      <if test="deviceId != null">
        #{deviceId,jdbcType=VARCHAR},
      </if>
      <if test="comId != null">
        #{comId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.geeker.model.OpDeviceRegister">
    update op_device_register
    <set>
      <if test="deviceId != null">
        device_id = #{deviceId,jdbcType=VARCHAR},
      </if>
      <if test="comId != null">
        com_id = #{comId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where register_code = #{registerCode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.geeker.model.OpDeviceRegister">
    update op_device_register
    set device_id = #{deviceId,jdbcType=VARCHAR},
      com_id = #{comId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
      and register_code = #{registerCode,jdbcType=VARCHAR}
  </update>
</mapper>